<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bangkit.bahanbaku">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".application.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BahanbaKu"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDEwx4-wMU6vpJNdUElRDKUKrT6DYLORhM" />

        <activity
            android:name=".ui.profile.edit.EditProfileActivity"
            android:label="@string/edit_profile"
            android:exported="false" />

        <activity
            android:name=".ui.updatelocation.UpdateLocationActivity"
            android:exported="false"
            android:label="@string/title_activity_update_location" />
        <activity
            android:name=".ui.maps.MapsActivity"
            android:exported="false"
            android:label="@string/food_map" />
        <activity
            android:name=".ui.snapfood.result.SnapFoodResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.forgotpassword.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false"
            android:label="@string/profile" />
        <activity
            android:name=".ui.snaprecipe.SnapRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false"
            android:label="Search" />
        <activity
            android:name=".ui.ingredient.IngredientActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detail.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false"
            android:label="@string/register" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/login" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>